<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./dist/output.css" />
    <title>Lo De Aldi!</title>
  </head>
  <body>
    <div id="index">
      <header
        class="fixed top-0 flex h-[20vh] w-full items-center justify-center bg-black"
      >
        <div
          class="flex h-20 w-40 items-center justify-center rounded-lg bg-green-600 text-center"
        >
          ABIERTO!
        </div>
      </header>
    </div>
    <script src="./maquetadoTest.js" type="module"></script>
    <script src="./components/navBar/navBar.js" type="module"></script>
    <script src="./cartel.js"></script>
  </body>
</html>
