<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/output.css" />
    <title>NavBar</title>
  </head>
  <body>
    <div class="h-full w-full">
      <nav id="navBar" class="fixed bottom-0 flex w-full justify-evenly">
        <div class="sideBarIcons">
          <button id="hambBtn">
            <img
              class="h-12 w-12"
              src="../../assets/icons/navBarIcons/hamburger-part-2-svgrepo-com.svg"
              alt=""
            />
          </button>
        </div>
        <div class="sideBarIcons">
          <button id="pizzaBtn">
            <img
              class="h-12 w-12"
              src="../../assets/icons/navBarIcons/pizza-svgrepo-com.svg"
              alt=""
            />
          </button>
        </div>
        <div class="sideBarIcons">
          <button id="fritaBtn">
            <img
              class="h-12 w-12"
              src="../../assets/icons/navBarIcons/french-fries-svgrepo-com.svg"
              alt=""
            />
          </button>
        </div>
      </nav>
    </div>
    <script src="./navBar.js"></script>
  </body>
</html>
