<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="../../dist/output.css" />
    <title>Pizzas</title>
  </head>
  <body>
    <div
      id="pizzas"
      class="grid grid-cols-[repeat(auto-fit,minmax(240px,1fr))] grid-rows-3 gap-1 px-4 py-4"
    >
      <div
        class="h-full w-full rounded-lg border-2 border-solid border-black bg-slate-900"
      >
        <img
          src="https://images.unsplash.com/photo-1541745537411-b8046dc6d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          alt=""
        />
      </div>
      <div class="h-full w-full rounded-lg border-2 border-solid border-black">
        <img
          src="https://images.unsplash.com/photo-1541745537411-b8046dc6d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          alt=""
        />
      </div>
      <div class="h-full w-full rounded-lg border-2 border-solid border-black">
        <img
          src="https://images.unsplash.com/photo-1541745537411-b8046dc6d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          alt=""
        />
      </div>
      <div class="h-full w-full rounded-lg border-2 border-solid border-black">
        <img
          src="https://images.unsplash.com/photo-1541745537411-b8046dc6d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          alt=""
        />
      </div>
      <div class="h-full w-full rounded-lg border-2 border-solid border-black">
        <img
          src="https://images.unsplash.com/photo-1541745537411-b8046dc6d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          alt=""
        />
      </div>
      <div class="h-full w-full rounded-lg border-2 border-solid border-black">
        <img
          src="https://images.unsplash.com/photo-1541745537411-b8046dc6d66c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          alt=""
        />
      </div>
    </div>
    <nav id="navBarNode" class="fixed bottom-0 flex w-full justify-evenly">
      <div class="sideBarIcons">
        <button>
          <img
            class="h-12 w-12"
            src="../../assets/icons/navBarIcons/hamburger-part-2-svgrepo-com.svg"
            alt=""
          />
        </button>
      </div>
      <div class="sideBarIcons">
        <button>
          <img
            class="h-12 w-12"
            src="../../assets/icons/navBarIcons/pizza-svgrepo-com.svg"
            alt=""
          />
        </button>
      </div>
      <div class="sideBarIcons">
        <button>
          <img
            class="h-12 w-12"
            src="../../assets/icons/navBarIcons/french-fries-svgrepo-com.svg"
            alt=""
          />
        </button>
      </div>
    </nav>
  </body>
</html>
